:root {
  --color: hsl(322, 100%, 66%);
  --font-size: 18px;
  --font-family: "Open Sans", sans-serif;
  --font-weight: 400;
  --padding: 3rem;
  --margin-botton: 3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}
/* global styling of header content starts here */
.head header {
  display: flex;
  padding: var(--padding);
  width: 100%;
  height: 20%;
}
/* styling try it free button */
.head-button {
  font-weight: 700;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 11%, 95%);
  padding: 0.7rem 2.9rem;
  border-radius: 3rem;
  /* gap: 50rem; */
  box-shadow: 0 2px hsl(0, 11%, 84%);
}
/* positioning try it free button */
#button1 {
  position: absolute;
  right: 7rem;
}
/* stling get started for free button */
.pink-button1 {
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  padding: 0.9rem 2.9rem;
  border-radius: 3rem;
  gap: 50rem;
  /* position: relative; */
  /* left: 58rem; */
}
/* positioning get started for free button */
#button-2 {
  margin-top: 5%;
}
/* styling button content */
button {
  text-transform: capitalize;
}
/* styling container holding contents in header */
.head main {
  display: flex;
  padding: var(--padding);
  height: auto;
  margin-top: -3%;
}
.container {
  padding: 5rem 1rem 5rem 0;
  width: 70%;
}
/* adjust container with mockup to adapt and hold content */
.head-mockup img {
  width: 100%;
}
/* overall header section styling */
.head {
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  /* height: 60%; */
  width: 100%;
  background-size: cover;
  padding: var(--padding);
}

/* NB: global styling of body content starts here */

/* styling header writings on website */
h3 {
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 2rem;
  font-size: 1.9rem;
}
h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}

/* general styling of body container */
.body-content {
  background-color: hsl(0, 0%, 100%);
  padding: 6rem 6rem 9rem 6rem;
}
/* styling first container with grow together image*/
.grow-together {
  display: flex;
  padding: var(--padding);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: var(--margin-botton);
}
.text {
  padding: 5rem 5rem 5rem 3rem;
  width: 100%;
}
.photo {
  width: 100%;
}
/* styling second container with flowing conversations image*/
.flowing-conversations {
  display: flex;
  flex-direction: row-reverse;
  padding: var(--padding);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: var(--margin-botton);
}
/* styling third container with user's image*/
.your-users {
  display: flex;
  padding: var(--padding);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 6rem;
}
/* ready to build your community element styling */
.container2 {
  /* padding: var(--padding); */
  border: 1px solid hsl(326, 19%, 93%);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  width: 50vw;
  padding: 2rem;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
}
/* positioning community container */
.build-comm {
  position: absolute;
  left: 22rem;
}
/* styling last button on home page */
.pink-button2 {
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  padding: 0.9rem 2.9rem;
  border-radius: 3rem;
  /* position: absolute;
  left: 38rem; */
}
.text3 {
  text-align: center;
}
/* center button in box */
.button3 {
  text-align: center;
}
/* footer styling starts here */
.footer {
  background-color: hsl(192, 100%, 9%);
  padding: 7rem 9rem var(--padding) 9rem;
  margin-top: -1.5rem;
}
/* changes the huddle icon to a white coloration */
.icon, .facebook, .twitter,.instagram {
  filter: brightness(0) invert(1);
}
/* footer body styling starts here */
.footer-body {
  display: flex;
  width: 100%;
  color: hsl(0, 0%, 100%);
}
.col1 {
  width: 40%;
  padding: var(--padding) 0;
  display: flex;
  flex-direction: column;
}
.svg-img {
  float: left;
  padding: 0.3rem;
}
.location,
.telephone,
.email {
  padding: 0.5rem;
}
.col2,
.col3,
.social-icons {
  width: 20%;
  padding: var(--padding) 0;
}
.location-text,
.mail-us,
.call-us {
  padding: 0 3rem;
}
.location-text p,
.call-us p,
.mail-us p {
  text-align: left;
}
/*styling of the copyright icons and text*/
.bottom-left {
  text-align: right;
}
.bottom-left p {
  color: hsl(0, 0%, 100%);
}
.footer-navs li a {
  text-transform: capitalize;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.footer-navs .uppercase a {
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}
.footer-navs li {
  list-style-type: none;
}
svg {
  height: 2rem;
}
.social-icons {
  display: flex;
  padding: var(--padding);
}
.facebook,
.twitter,
.instagram {
  filter: brightness(0) invert(1);
  padding: 0.5rem;
}
/* active states for all pink buttons */
.pink-button1:active, .pink-button2:active{
  background-color: hsl(322, 36%, 59%);
  border: 1px solid hsl(322, 36%, 59%);
  color: hsl(0, 0%, 100%);
}
.col2 a:active , .col3 a:active{
  text-decoration: underline;
}
.facebook:active{
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}
@media screen and (max-width: 375px) {
 
}

