:root {
  --color: hsl(322, 100%, 66%);
  --font-size: 18px;
  --font-family: "Open Sans", sans-serif;
  --font-weight: 400;
  --padding: 3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}
.head {
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  height: 60%;
  width: 100%;
  background-size: cover;
  padding: var(--padding);
  margin: auto;
  overflow: hidden;
}
.head header {
  display: flex;
  padding: var(--padding);
  width: 100%;
  height: 20%;
}
.head-button {
  font-weight: 700;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 11%, 95%);
  padding: 0.7rem 2.9rem;
  border-radius: 3rem;
  /* gap: 50rem; */
  box-shadow: 0 2px hsl(0, 11%, 84%);
}
#button1{
  position: absolute;
  right: 7rem;
}
.second-button {
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  padding: 0.9rem 2.9rem;
  border-radius: 3rem;
  gap: 50rem;
  /* position: relative; */
  /* left: 58rem; */
}
#button-2{
  margin-top: 5%;
}
.head main {
  display: flex;
  padding: var(--padding);
  height: auto;
  width: 100%;
  margin-top: -3%;
}
h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
}
.container{
  padding: 2.2rem;
  width: 60%;
}
.head-mockup img{
width: 100%
}
.grow-together{
  display: flex;
  padding: var(--padding);
  border: 1px solid hsl(326, 19%, 93%);
  border-radius: 0.8rem;
  box-shadow: -2px -2px 5px 1px rgba(0, 0, 0, 0.2);
  width: 85vw;
  margin: auto;
  height: 55vh;
  margin-bottom: 3rem;
  margin-top: 9rem;
}
.grow-together h3{
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 2rem;
}
.writeup{
 width: 30vw;
 align-self: center; 
}
.grow-image{
  margin-left: 12rem;
}







